<div>
<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{ active: isActive('players')}"
        ng-click="selectTab('players')"><a href="#">Players</a></li>
    <li role="presentation" ng-class="{ active: isActive('levels')}"
        ng-click="selectTab('levels')"><a href="#">Levels</a></li>
    <li role="presentation" ng-class="{ active: isActive('level-types')}"
        ng-click="selectTab('level-types')"><a href="#">Level Types</a></li>
    <li role="presentation" ng-class="{ active: isActive('tasks')}"
        ng-click="selectTab('tasks')"><a href="#">Tasks</a></li>
    <li role="presentation" ng-class="{ active: isActive('events')}"
        ng-click="selectTab('events')"><a href="#">Events</a></li>
</ul>
</div>
<div>
    <a href="{{ addLink }}">
        <span class="glyphicon glyphicon-plus"></span>
        Create new {{ entity }}
    </a>
</div>
<div class="panel panel-default">
    <div class="panel-heading">{{ entity }}</div>
    <div class="panel-body">
        <table class="table">
           <tr>
               <th ng-repeat="(k, v) in rows[0]"
                   ng-if="k != 'view_url' &&
                   k != 'edit_url'">{{ k|capitalize }}</th>
               <th>Actions</th>
           </tr>
           <tr ng-repeat="row in rows">
               <td ng-repeat="(k, v) in row"
                   ng-if="k != 'view_url' &&
                   k != 'edit_url'">{{ v }}</td>
               <td>
                   <a href="{{ row.view_url }}" class="btn btn-default read">
                       <span class="glyphicon glyphicon-eye-open"></span>
                   </a>
                   <a href="{{ row.edit_url }}" class="btn btn-default update">
                       <span class="glyphicon glyphicon-pencil"></span>
                   </a>
                   <button class="btn btn-default delete" type="button"
                           ng-click="remove(row.id)">
                       <span class="glyphicon glyphicon-trash"></span>
                   </button>
               </td>
           </tr>
        </table>
    </div>
</div>
