<!doctype html>
<html ng-app="GACFACG" lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Hello GACFACQ</title>

		<script src="static/lib/angular/angular.js"></script>
		<script src="static/lib/angular/angular-resource.js"></script>
		<script src="static/lib/angular/angular-route.js"></script>

    	<script src="static/js/app.js"></script>
		<script src="static/js/controllers.js"></script>
		<script src="static/js/services.js"></script>

		<base href="/" />
	</head>
	<body>
		<header>
			GACFACQ
		</header>
		<main ng-view>

		</main>
		<footer>
			by Mr. T.
		</footer>
	</body>
</html>