<!doctype html>
<html ng-app="GACFACG" lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Hello GACFACG</title>
        <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.css" />

        <script src="/static/lib/jquery/jquery.js"></script>

        <script src="/static/lib/flot_charts/jquery.flot.js"></script>
        <script src="/static/lib/flot_charts/jquery.flot.time.js"></script>

		<script src="/static/lib/angular/angular.js"></script>
		<script src="/static/lib/angular/angular-resource.js"></script>
		<script src="/static/lib/angular/angular-route.js"></script>
        <script src="/static/lib/angular/angular-flot.js"></script>

    	<script src="/static/js/app.js"></script>
        <script src="/static/js/directives.js"></script>
		<script src="/static/js/services.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/graph-controller.js"></script>

		<link rel="stylesheet" href="/static/css/style.css" />

		<base href="/" />
	</head>
	<body>
        <div class="container">
            <header class="row">
                <img src="/static/png/gacfacg.png" />
            </header>
            <div class="row">
                <div class="col-sm-3 col-lg-2">
					<nav class="sidebar-nav" ng-controller="NavController">
						<div class="navbar navbar-default">
                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li ng-class="{ active: isActive('/entities') }"
                                        ng-click="selectPage('/entities')">
                                        <a href="entities">Entities</a>
                                    </li>
                                    <li ng-class="{ active: isActive('/histories') }"
                                        ng-click="selectPage('/histories')">
                                        <a href="histories">Histories</a>
                                    </li>
                                    <li ng-class="{ active: isActive('/graphs') }"
                                        ng-click="selectPage('/graphs')">
                                        <a href="graphs">Graphs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
				<div class="col-sm-9 col-lg-10">
                    <main ng-view></main>
				</div>
            </div>
            <footer class="row">
                by Mr. T.
            </footer>
		</div>
	</body>
</html>